## Gather

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
patients = pd.read_csv('data/patients.csv')
treatments = pd.read_csv('data/treatments.csv')
adverse_reactions = pd.read_csv('data/adverse_reactions.csv')

## Assess

In [4]:
patients.head(2)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2

In [5]:
patients.tail(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [6]:
treatments.head(2)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97

In [7]:
adverse_reactions.head(2)

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia

In [8]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [9]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [10]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        34 non-null     object
 1   surname           34 non-null     object
 2   adverse_reaction  34 non-null     object
dtypes: object(3)
memory usage: 944.0+ bytes

In [11]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object

In [12]:
list(patients)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'contact',
 'birthdate',
 'weight',
 'height',
 'bmi']

In [13]:
patients[patients['address'].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [14]:
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

In [15]:
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [16]:
patients.sample(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
268,269,female,Päivi,Mattila,4320 Rardin Drive,San Carlos,CA,94070.0,United States,650-631-0002PaiviMattila@rhyta.com,5/28/1933,132.0,59,26.7
144,145,male,Mile,Stanić,4640 Windy Ridge Road,Fort Wayne,IN,46804.0,United States,260-591-5755MileStanic@dayrep.com,10/31/1961,244.9,71,34.2
451,452,female,Jia Li,Teng,1251 Clarence Court,Upland,California,91786.0,United States,JiaLiTeng@fleckens.hu1 909 982 4264,12/7/1928,202.2,66,32.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
420,421,male,Adlan,Shishani,4890 Abia Martin Drive,Manhattan,New York,10018.0,United States,631-479-8171AdlanShishani@gustr.com,5/23/1940,200.9,69,29.7

In [17]:
patients.surname.value_counts()

Doe         6
Taylor      3
Jakobsen    3
Souza       2
Lund        2
           ..
Lillebø     1
Phạm        1
Brhane      1
Nicholls    1
Pospíšil    1
Name: surname, Length: 466, dtype: int64

In [18]:
patients.address.value_counts()

123 Main Street         6
648 Old Dear Lane       2
2778 North Avenue       2
2476 Fulton Street      2
2884 Elsie Drive        1
                       ..
4102 Ritter Avenue      1
1984 Counts Lane        1
1895 Hart Ridge Road    1
3688 Adonais Way        1
1370 Flint Street       1
Name: address, Length: 483, dtype: int64

In [19]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [20]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
       ...
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, Length: 503, dtype: float64

In [21]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

210    19.055827
dtype: float64

In [22]:
patients[patients.surname == 'Zaitseva'].bmi

210    19.1
Name: bmi, dtype: float64

In [23]:
sum(treatments.auralin.isnull())

0

In [24]:
sum(treatments.novodra.isnull())

0

#### Quality
##### `patients` table
- ~~Zip code is a float not a string~~
- ~~Zip code has four digits sometimes~~
- ~~Tim Neudorf height is 27 in instead of 72 in~~
- ~~Full state names sometimes, abbreviations other times~~
- ~~Dsvid Gustafsson~~
- Missing demographic information (address - contact columns) ***(can't clean)***
- Erroneous datatypes (assigned sex, state, ~~zip_code, and birthdate columns)~~
- ~~Multiple phone number formats~~
- ~~Default John Doe data~~
- ~~Multiple records for Jakobsen, Gersten, Taylor~~
- ~~kgs instead of lbs for Zaitseva weight~~

##### `treatments` table
- ~~Missing HbA1c changes~~
- ~~The letter 'u' in starting and ending doses for Auralin and Novodra~~
- ~~Lowercase given names and surnames~~
- ~~Missing records (280 instead of 350)~~
- ~~Erroneous datatypes (auralin and novodra columns)~~
- ~~Inaccurate HbA1c changes (leading 4s mistaken as 9s)~~
- ~~Nulls represented as dashes (-) in auralin and novodra columns~~

##### `adverse_reactions` table
- ~~Lowercase given names and surnames

#### Tidiness
- ~~Contact column in `patients` table should be split into phone number and email~~
- ~~Three variables in two columns in `treatments` table (treatment, start dose and end dose)~~
- ~~Adverse reaction should be part of the `treatments` table~~
- Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables

## Clean

In [25]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

In [26]:
treatments_cut = pd.read_csv("data/treatments_cut.csv")
treatments_cut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    70 non-null     object
 1   surname       70 non-null     object
 2   auralin       70 non-null     object
 3   novodra       70 non-null     object
 4   hba1c_start   70 non-null     float64
 5   hba1c_end     70 non-null     float64
 6   hba1c_change  42 non-null     float64
dtypes: float64(3), object(4)
memory usage: 4.0+ KB

### Missing Data

<font color='red'>Complete the following two "Missing Data" **Define, Code, and Test** sequences after watching the *"Address Missing Data First"* video.</font>

#### `treatments`: Missing records (280 instead of 350)

##### Define
Add additional records to treatments dataset. Concat treatments_cut into treatments_clean to have 350 records total, not 280.

##### Code

In [27]:
treatments_clean2 = pd.concat([treatments_clean, treatments_cut])
treatments_clean2.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

##### Test

In [28]:
treatments_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  213 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

In [29]:
treatments_clean2.sample(20)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
32,laura,ehrlichmann,-,43u - 40u,7.95,7.46,0.99
76,noriyuki,sakai,-,32u - 31u,7.58,7.16,0.92
42,marija,grubišić,37u - 43u,-,7.53,7.15,0.38
200,nicolas,ferreira,43u - 51u,-,7.99,7.72,0.27
19,noe,aranda,26u - 34u,-,7.51,7.17,0.34
209,kári,hervinsson,37u - 43u,-,8.09,7.66,NaN
22,beatrycze,woźniak,-,26u - 27u,7.54,7.17,0.37
43,jens,poulsen,-,36u - 32u,7.55,7.16,0.39
119,liisa,seppälä,36u - 47u,-,7.87,7.51,0.36
52,mỹ,quynh,57u - 64u,-,7.61,7.16,NaN
71,hugo,collins,-,53u - 55u,8.00,7.53,0.97
151,nile,mehari,40u - 53u,-,9.25,8.79,NaN
177,samuel,blix,48u - 55u,-,7.97,7.56,NaN
12,annika,vaara,-,20u - 21u,7.73,7.34,0.39
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
28,una,traustadóttir,-,35u - 34u,8.00,7.50,NaN
31,bao,she,-,48u - 45u,9.09,8.62,NaN
137,ivona,jakšić,-,41u - 41u,7.98,7.54,NaN
49,jackson,addison,-,42u - 42u,7.99,7.51,0.98

#### `treatments`: Missing HbA1c changes and Inaccurate HbA1c changes (leading 4s mistaken as 9s)
*Note: the "Inaccurate HbA1c changes (leading 4s mistaken as 9s)" observation, which is an accuracy issue and not a completeness issue, is included in this header because it is also fixed by the cleaning operation that fixes the missing "Missing HbA1c changes" observation. Multiple observations in one **Define, Code, and Test** header occurs multiple times in this notebook.*

##### Define
Inaccurate HbA1c values. Update all hba1c_change values by subtracting hba1c_end from hba1c_start.

##### Code

In [30]:
treatments_clean = treatments_clean2.copy()

In [31]:
treatments_clean.hba1c_change = treatments_clean.hba1c_start - treatments_clean.hba1c_end
treatments_clean.sample(10)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
154,saidmohmad,rushisvili,-,49u - 46u,7.90,7.48,0.42
2,alwin,svensson,36u - 39u,-,7.78,7.34,0.44
135,rut,halldórsdóttir,31u - 40u,-,9.01,8.63,0.38
43,hans peter,radislav,42u - 53u,-,7.60,7.20,0.40
92,sousuke,nakahara,-,37u - 35u,7.91,7.49,0.42
30,szilveszter,totth,35u - 39u,-,7.70,7.38,0.32
34,alexander,mathiesen,47u - 58u,-,7.96,7.55,0.41
39,krisztina,magyar,-,32u - 27u,7.52,7.01,0.51
6,sara,miles,30u - 35u,-,7.53,7.12,0.41

##### Test

In [32]:
sum(treatments_clean.hba1c_change.isnull())

0

In [33]:
treatments_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  350 non-null    float64
dtypes: float64(3), object(4)
memory usage: 21.9+ KB

### Tidiness

<font color='red'>Complete the following four "Tidiness" **Define, Code, and Test** sequences after watching the *"Cleaning for Tidiness"* video.</font>

#### Contact column in `patients` table contains two variables: phone number and email

##### Define
Separate contact data into appropriate columns, email & phone.

##### Code

In [34]:
patients_clean.head(2)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2

In [35]:
patients_clean['email'] = patients_clean['contact'].str.extract(r'([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]{2,4})')
patients_clean

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,email
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170ZoeWellish@superrito.com
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804JaeMDebord@gustr.com
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,PhanBaLiem@jourrapide.com
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487TimNeudorf@cuvox.de
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6,207-477-0579MustafaLindstrom@jourrapide.com
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4,928-284-4492RumanBisliev@gustr.com
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8,816-223-6007JinkedeKeizer@teleworm.us
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7,ChidaluOnyekaozulu@jourrapide.com
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3,PatrickGersten@rhyta.com

In [36]:
pd.isna(patients_clean.contact).value_counts()

False    491
True      12
Name: contact, dtype: int64

In [37]:
patients_clean.dropna(inplace=True)

In [38]:
pd.isna(patients_clean.contact).value_counts()

False    491
Name: contact, dtype: int64

In [39]:
def extract_phone(row):
    ph_re = re.compile(r'1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?')
    found = ph_re.search(row)
    if found:
        return found.group()
    else:
        return ''

In [40]:
extract_phone(patients_clean.contact[1])

'1 (217) 569-3204'

In [41]:
patients_clean['phone'] = patients_clean.apply(lambda row: extract_phone(row['contact']), axis=1)
patients_clean

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804JaeMDebord@gustr.com,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,PhanBaLiem@jourrapide.com,1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487TimNeudorf@cuvox.de,334-515-7487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6,207-477-0579MustafaLindstrom@jourrapide.com,207-477-0579
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4,928-284-4492RumanBisliev@gustr.com,928-284-4492
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8,816-223-6007JinkedeKeizer@teleworm.us,816-223-6007
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3,PatrickGersten@rhyta.com,402-848-4923

In [42]:
patients_clean.tail(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,email,phone
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6,207-477-0579MustafaLindstrom@jourrapide.com,207-477-0579
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4,928-284-4492RumanBisliev@gustr.com,928-284-4492
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8,816-223-6007JinkedeKeizer@teleworm.us,816-223-6007
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3,PatrickGersten@rhyta.com,402-848-4923

### Fix email column where contacts contained phone numbers BEFORE the email address. Since email can start with numbers, it is theoritcally possible to have a phone number in front of letters in an email address.

In [43]:
def remove_phone_from_email(email,phone):
    if phone in email:
        return re.sub(phone, '', email)
    else:
        return email

In [44]:
patients_clean2 = patients_clean.iloc[0:5,:].copy()
patients_clean2

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804JaeMDebord@gustr.com,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,PhanBaLiem@jourrapide.com,1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487TimNeudorf@cuvox.de,334-515-7487

In [45]:
patients_clean2['email']

0    951-719-9170ZoeWellish@superrito.com
1                    PamelaSHill@cuvox.de
2        402-363-6804JaeMDebord@gustr.com
3               PhanBaLiem@jourrapide.com
4         334-515-7487TimNeudorf@cuvox.de
Name: email, dtype: object

In [46]:
patients_clean2['email'] = patients_clean2.apply(lambda row: remove_phone_from_email(row['email'],row['phone']),axis=1)
patients_clean2

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,JaeMDebord@gustr.com,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,PhanBaLiem@jourrapide.com,1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,TimNeudorf@cuvox.de,334-515-7487

In [47]:
patients_clean['email'] = patients_clean.apply(lambda row: remove_phone_from_email(row['email'],row['phone']),axis=1)

In [48]:
patients_clean.drop(columns='contact',inplace=True)

##### Test

In [49]:
patients_clean.sample(20)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
46,47,male,Javier,Moquin,1808 Stuart Street,Pittsburgh,PA,15201.0,United States,8/7/1941,163.9,72,22.2,JavierMoquin@rhyta.com,724-419-3583
93,94,male,Elliot,Richardson,4230 Ridenour Street,Sunrise,FL,33323.0,United States,1/14/1973,168.1,71,23.4,ElliotRichardson@teleworm.us,786-234-0038
393,394,male,Steven,Roy,2816 Ashford Drive,Reston,VA,22070.0,United States,9/19/1975,162.4,72,22.0,StevenBRoy@rhyta.com,1 703 716 8652
270,271,female,Jowita,Wiśniewska,2168 Butternut Lane,Granite City,Illinois,62040.0,United States,11/8/1934,108.1,61,20.4,JowitaWisniewska@armyspy.com,1 (618) 512-3319
159,160,female,Coralie,Allaire,1066 Goosetown Drive,Sylva,NC,28779.0,United States,3/4/1925,149.4,66,24.1,CoralieAllaire@armyspy.com,1 (828) 586-5050
260,261,female,Emily,Henriksen,4236 Beech Street,Antioch,CA,94509.0,United States,7/8/1957,206.4,66,33.3,EmilyNHenriksen@armyspy.com,925-757-6139
195,196,female,Lamara,Dratchev,3731 Swick Hill Street,New Orleans,LA,70113.0,United States,10/20/1954,181.3,67,28.4,LamaraDratchev@teleworm.us,985-253-7891
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,1/19/1936,130.7,65,21.7,ManchuSu@einrot.com,914-745-6108
433,434,male,Leo,Vieira,4894 Chandler Hollow Road,Pittsburgh,PA,15215.0,United States,3/9/1975,154.4,71,21.5,LeoDVieira@cuvox.de,412-449-0733
227,228,female,Laura,Ehrlichmann,1829 Bungalow Road,Omaha,NE,68124.0,United States,1/3/1942,187.9,60,36.7,LauraEhrlichmann@einrot.com,402-938-2157
81,82,male,André,Nordin,836 Dovetail Estates,Gate,OK,73844.0,United States,11/12/1940,209.4,69,30.9,AndreNordin@cuvox.de,580-934-1141
435,436,female,Ivana,Kašná,3343 Jefferson Street,Newport News,VA,23601.0,United States,8/15/1995,173.8,67,27.2,IvanaKasna@teleworm.us,1 (757) 736-7026
31,32,male,Tomáš,Navrátil,4870 Corbin Branch Road,Bluff City,TN,37618.0,United States,4/8/1935,133.3,70,19.1,TomasNavratil@dayrep.com,423-538-4887
171,172,female,Blagica,Klobučar,3920 Braxton Street,La Grange,IL,60525.0,United States,11/6/1921,106.5,59,21.5,BlagicaKlobucar@einrot.com,815-533-7692
472,473,female,Julia,Werner,325 Eastland Avenue,Natchez,MS,39120.0,United States,9/14/1938,155.3,61,29.3,JuliaWerner@teleworm.us,601-446-6829
198,199,female,Eufrosina,Schiavone,1984 Counts Lane,Lexington,KY,40507.0,United States,4/6/1926,108.5,62,19.8,EufrosinaSchiavone@cuvox.de,1 (859) 977-9462
186,187,female,Jane,Citizen,2866 Myra Street,Providence,RI,2908.0,United States,9/27/1974,143.0,65,23.8,JaneCitizen@cuvox.de,1 (401) 485-6384
312,313,female,Holly,Macleod,57 Norman Street,Los Angeles,CA,90017.0,United States,11/16/1935,190.7,62,34.9,HollyMacleod@jourrapide.com,1 323 280 6511
256,257,female,Veronica,Bogolyubova,3945 Simons Hollow Road,Trevorton,PA,17881.0,United States,6/16/1981,128.9,67,20.2,VeronicaBogolyubova@teleworm.us,570-797-6666
192,193,female,Jade,Parker,2957 Feathers Hooves Drive,Garden City,NY,11530.0,United States,6/19/1927,188.8,63,33.4,JadeParker@superrito.com,631-704-6487

#### Three variables in two columns in `treatments` table (treatment, start dose and end dose)

In [50]:
treatments_clean.head(5)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [51]:
treat = treatments_clean.copy()

##### Define
Separate auralin & novodra columns into 3. Treatment, start dose, & end dose.

##### Code

In [52]:
val = treat.iloc[0,2]
val2 = val.split()
val2

['41u', '-', '48u']

In [53]:
def split_dose(aur_dose,nov_dose):
    if aur_dose != '-':
        val = aur_dose.split()
        start_dose = val[0]
        start_dose = re.sub('u','',start_dose)
        end_dose = val[2]
        end_dose = re.sub('u','',end_dose)
        treatment = 'auralin'
    elif nov_dose != '-':
        val = nov_dose.split()
        start_dose = val[0]
        start_dose = re.sub('u','',start_dose)
        end_dose = val[2]
        end_dose = re.sub('u','',end_dose)
        treatment = 'novodra'
    
    return pd.Series([treatment,int(start_dose),int(end_dose)])

In [54]:
treat[['treatment','start_dose','end_dose']] = treat.apply(lambda row: split_dose(row.auralin,row.novodra), axis=1)
treat.sample(5)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose
147,krisztián,bakos,-,60u - 60u,7.75,7.29,0.46,novodra,60,60
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39,auralin,53,63
171,justyna,kowalczyk,24u - 34u,-,9.84,9.44,0.40,auralin,24,34
196,peter,pospíšil,51u - 60u,-,7.76,7.34,0.42,auralin,51,60
40,ásta,grímsdóttir,-,29u - 30u,7.62,7.16,0.46,novodra,29,30

##### Test

In [55]:
treat.sample(20)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose
60,onyekachukwu,obinna,37u - 46u,-,7.58,7.12,0.46,auralin,37,46
215,adib,ghanem,-,46u - 49u,7.59,7.12,0.47,novodra,46,49
216,þórunn,tryggvadóttir,-,30u - 32u,7.98,7.51,0.47,novodra,30,32
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.42,novodra,44,43
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39,auralin,51,62
136,joseph,day,29u - 36u,-,7.70,7.19,0.51,auralin,29,36
166,annie,allen,36u - 42u,-,9.95,9.58,0.37,auralin,36,42
36,chỉ,lâm,45u - 48u,-,7.68,7.24,0.44,auralin,45,48
261,caroline,shuler,-,50u - 54u,7.63,7.27,0.36,novodra,50,54
112,olof,holm,39u - 52u,-,7.85,7.43,0.42,auralin,39,52
200,nicolas,ferreira,43u - 51u,-,7.99,7.72,0.27,auralin,43,51
52,mỹ,quynh,57u - 64u,-,7.61,7.16,0.45,auralin,57,64
77,placido,udinesi,-,38u - 41u,7.91,7.49,0.42,novodra,38,41
64,cumelén,miramontes,24u - 32u,-,7.71,7.33,0.38,auralin,24,32
57,joseph,tucker,48u - 56u,-,7.67,7.30,0.37,auralin,48,56
108,mùi,lương,-,52u - 50u,7.74,7.32,0.42,novodra,52,50
99,abel,yonatan,-,38u - 39u,7.88,7.50,0.38,novodra,38,39
13,gregor,bole,-,47u - 45u,7.61,7.16,0.45,novodra,47,45
49,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38,novodra,42,42
203,willem-jan,van der lubbe,-,40u - 40u,7.57,7.20,0.37,novodra,40,40

#### Adverse reaction should be part of the `treatments` table

##### Define
Consolidate files/dataframes table, adverse_reactions. Add data to treatments dataframe.

##### Code

In [56]:
adverse_reactions.sample(5)

   given_name     surname           adverse_reaction
31     steven         roy                   headache
22      lixue       hsueh  injection site discomfort
6      louise     johnson               hypoglycemia
19     finley    chandler                   headache
25     elliot  richardson               hypoglycemia

In [57]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        34 non-null     object
 1   surname           34 non-null     object
 2   adverse_reaction  34 non-null     object
dtypes: object(3)
memory usage: 944.0+ bytes

In [58]:
treat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 69
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   auralin       350 non-null    object
 3   novodra       350 non-null    object
 4   hba1c_start   350 non-null    float64
 5   hba1c_end     350 non-null    float64
 6   hba1c_change  350 non-null    float64
 7   treatment     350 non-null    object
 8   start_dose    350 non-null    int64
 9   end_dose      350 non-null    int64
dtypes: float64(3), int64(2), object(5)
memory usage: 40.1+ KB

In [59]:
treat_adver = pd.concat([treat,adverse_reactions], join='outer')
treat_adver

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,adverse_reaction
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41.0,48.0,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40.0,45.0,NaN
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39.0,36.0,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,auralin,33.0,36.0,NaN
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,novodra,33.0,29.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
29,alex,crawford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hypoglycemia
30,monika,lončar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hypoglycemia
31,steven,roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,headache
32,cecilie,nilsen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hypoglycemia
33,krisztina,magyar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hypoglycemia

In [60]:
treatment_adverse = pd.merge(adverse_reactions,treat, on='surname', how='outer')
treatment_adverse

,given_name_x,surname,adverse_reaction,given_name_y,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose
0,berta,napolitani,injection site discomfort,berta,-,42u - 44u,7.68,7.21,0.47,novodra,42,44
1,lena,baer,hypoglycemia,lena,-,41u - 38u,7.70,7.40,0.30,novodra,41,38
2,joseph,day,hypoglycemia,joseph,29u - 36u,-,7.70,7.19,0.51,auralin,29,36
3,joseph,day,hypoglycemia,joseph,29u - 36u,-,7.70,7.19,0.51,auralin,29,36
4,flavia,fiorentino,cough,flavia,46u - 57u,-,7.95,7.60,0.35,auralin,46,57
...,...,...,...,...,...,...,...,...,...,...,...,...
347,NaN,fakhoury,NaN,fakhri,39u - 50u,-,7.83,7.39,0.44,auralin,39,50
348,NaN,rap,NaN,žarka,35u - 48u,-,7.54,7.15,0.39,auralin,35,48
349,NaN,kishiev,NaN,rovzan,32u - 37u,-,7.75,7.41,0.34,auralin,32,37
350,NaN,schneider,NaN,bernd,48u - 56u,-,7.74,7.44,0.30,auralin,48,56
351,NaN,sauvé,NaN,armina,36u - 46u,-,7.86,7.40,0.46,auralin,36,46

In [61]:
treat2 = treat.copy()

In [62]:
treat2['fullname'] = treat2['given_name'] + " " + treat2['surname']

In [63]:
treat2.head(5)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41,48,veronika jindrová
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40,45,elliot richardson
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,auralin,33,36,skye gormanston
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,novodra,33,29,alissa montez

In [64]:
adverse_reactions['fullname'] = adverse_reactions['given_name'] + " " + adverse_reactions['surname']
adverse_reactions.head(5)

  given_name     surname           adverse_reaction           fullname
0      berta  napolitani  injection site discomfort   berta napolitani
1       lena        baer               hypoglycemia          lena baer
2     joseph         day               hypoglycemia         joseph day
3     flavia  fiorentino                      cough  flavia fiorentino
4    manouck     wubbels          throat irritation    manouck wubbels

In [65]:
treat2_advers = pd.merge(treat2,adverse_reactions, on="fullname", how='left')
treat2_advers

,given_name_x,surname_x,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41,48,veronika jindrová,NaN,NaN,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40,45,elliot richardson,elliot,richardson,hypoglycemia
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka,NaN,NaN,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,auralin,33,36,skye gormanston,NaN,NaN,NaN
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,novodra,33,29,alissa montez,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34,auralin,32,37,rovzan kishiev,NaN,NaN,NaN
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45,novodra,28,26,jakob jakobsen,jakob,jakobsen,hypoglycemia
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30,auralin,48,56,bernd schneider,NaN,NaN,NaN
348,berta,napolitani,-,42u - 44u,7.68,7.21,0.47,novodra,42,44,berta napolitani,berta,napolitani,injection site discomfort
349,armina,sauvé,36u - 46u,-,7.86,7.40,0.46,auralin,36,46,armina sauvé,NaN,NaN,NaN

In [66]:
treat2_advers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 349
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name_x      350 non-null    object
 1   surname_x         350 non-null    object
 2   auralin           350 non-null    object
 3   novodra           350 non-null    object
 4   hba1c_start       350 non-null    float64
 5   hba1c_end         350 non-null    float64
 6   hba1c_change      350 non-null    float64
 7   treatment         350 non-null    object
 8   start_dose        350 non-null    int64
 9   end_dose          350 non-null    int64
 10  fullname          350 non-null    object
 11  given_name_y      35 non-null     object
 12  surname_y         35 non-null     object
 13  adverse_reaction  35 non-null     object
dtypes: float64(3), int64(2), object(9)
memory usage: 41.0+ KB

In [67]:
treat2_advers = treat2_advers.rename(columns={'given_name_x':'given_name',
                                              'surname_x':'surname'})
treat2_advers.head(2)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41,48,veronika jindrová,NaN,NaN,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40,45,elliot richardson,elliot,richardson,hypoglycemia

In [68]:
treatment = treat2_advers.copy()

##### Test

In [69]:
treatment.sample(20)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
329,satsita,batukayev,-,42u - 42u,7.63,7.25,0.38,novodra,42,42,satsita batukayev,NaN,NaN,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.42,novodra,47,48,mile stanić,NaN,NaN,NaN
106,sofia,karlsen,-,35u - 29u,7.62,7.15,0.47,novodra,35,29,sofia karlsen,NaN,NaN,NaN
186,fraser,hunter,-,36u - 32u,7.70,7.42,0.28,novodra,36,32,fraser hunter,NaN,NaN,NaN
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka,NaN,NaN,NaN
41,mahmud,kadyrov,-,44u - 43u,7.53,7.11,0.42,novodra,44,43,mahmud kadyrov,NaN,NaN,NaN
75,mackenzie,mckay,-,44u - 43u,9.87,9.48,0.39,novodra,44,43,mackenzie mckay,NaN,NaN,NaN
220,sinead,reilly,27u - 39u,-,7.76,7.39,0.37,auralin,27,39,sinead reilly,NaN,NaN,NaN
225,liêm,phan,-,43u - 48u,7.58,7.10,0.48,novodra,43,48,liêm phan,NaN,NaN,NaN
88,yumena,nakayama,-,34u - 32u,7.76,7.35,0.41,novodra,34,32,yumena nakayama,NaN,NaN,NaN
323,hans peter,radislav,42u - 53u,-,7.60,7.20,0.40,auralin,42,53,hans peter radislav,NaN,NaN,NaN
193,svanhvít,guðjónsdóttir,37u - 44u,-,7.57,7.11,0.46,auralin,37,44,svanhvít guðjónsdóttir,NaN,NaN,NaN
125,marcel,peters,48u - 60u,-,9.56,9.19,0.37,auralin,48,60,marcel peters,NaN,NaN,NaN
137,ivona,jakšić,-,41u - 41u,7.98,7.54,0.44,novodra,41,41,ivona jakšić,NaN,NaN,NaN
233,arne,jørgensen,32u - 43u,-,9.65,9.31,0.34,auralin,32,43,arne jørgensen,NaN,NaN,NaN
205,najla,touma,-,39u - 44u,7.66,7.31,0.35,novodra,39,44,najla touma,NaN,NaN,NaN
178,kerman,dandonneau,41u - 50u,-,7.82,7.28,0.54,auralin,41,50,kerman dandonneau,NaN,NaN,NaN
285,meya,sjöberg,-,42u - 42u,7.77,7.42,0.35,novodra,42,42,meya sjöberg,NaN,NaN,NaN
129,kaodilinakachukwu,nnonso,63u - 68u,-,7.76,7.40,0.36,auralin,63,68,kaodilinakachukwu nnonso,NaN,NaN,NaN
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35,novodra,27,29,fearne mcgregor,NaN,NaN,NaN

In [70]:
type(treatment.loc[0,'adverse_reaction'])

float

In [71]:
treatment.head(5)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41,48,veronika jindrová,NaN,NaN,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40,45,elliot richardson,elliot,richardson,hypoglycemia
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka,NaN,NaN,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,auralin,33,36,skye gormanston,NaN,NaN,NaN
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,novodra,33,29,alissa montez,NaN,NaN,NaN

#### Given name and surname columns in `patients` table duplicated in `treatments` and `adverse_reactions` tables  and Lowercase given names and surnames

In [72]:
patients_clean.head(5)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,7/10/1976,121.7,66,19.6,ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,2/19/1980,177.8,71,24.8,JaeMDebord@gustr.com,402-363-6804
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,7/26/1951,220.9,70,31.7,PhanBaLiem@jourrapide.com,1 (732) 636-8246
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,2/18/1928,192.3,27,26.1,TimNeudorf@cuvox.de,334-515-7487

In [73]:
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    491 non-null    int64
 1   assigned_sex  491 non-null    object
 2   given_name    491 non-null    object
 3   surname       491 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   birthdate     491 non-null    object
 10  weight        491 non-null    float64
 11  height        491 non-null    int64
 12  bmi           491 non-null    float64
 13  email         491 non-null    object
 14  phone         491 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 81.4+ KB

In [74]:
treatment.surname.duplicated().sum()

17

In [75]:
treatment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 0 to 349
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        350 non-null    object
 1   surname           350 non-null    object
 2   auralin           350 non-null    object
 3   novodra           350 non-null    object
 4   hba1c_start       350 non-null    float64
 5   hba1c_end         350 non-null    float64
 6   hba1c_change      350 non-null    float64
 7   treatment         350 non-null    object
 8   start_dose        350 non-null    int64
 9   end_dose          350 non-null    int64
 10  fullname          350 non-null    object
 11  given_name_y      35 non-null     object
 12  surname_y         35 non-null     object
 13  adverse_reaction  35 non-null     object
dtypes: float64(3), int64(2), object(9)
memory usage: 51.0+ KB

##### Define
Remove duplicate columns from treatments & adverse_reactions tables. Additionally, capitilize 1st letter for treatment's surname & given_name.

##### Code

In [76]:
treat2_advers.drop(columns=['given_name_y','surname_y','auralin','novodra'],inplace=True)
treat2_advers

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41,48,veronika jindrová,NaN
1,elliot,richardson,7.56,7.09,0.47,novodra,40,45,elliot richardson,hypoglycemia
2,yukitaka,takenaka,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka,NaN
3,skye,gormanston,7.97,7.62,0.35,auralin,33,36,skye gormanston,NaN
4,alissa,montez,7.78,7.46,0.32,novodra,33,29,alissa montez,NaN
...,...,...,...,...,...,...,...,...,...,...
345,rovzan,kishiev,7.75,7.41,0.34,auralin,32,37,rovzan kishiev,NaN
346,jakob,jakobsen,7.96,7.51,0.45,novodra,28,26,jakob jakobsen,hypoglycemia
347,bernd,schneider,7.74,7.44,0.30,auralin,48,56,bernd schneider,NaN
348,berta,napolitani,7.68,7.21,0.47,novodra,42,44,berta napolitani,injection site discomfort
349,armina,sauvé,7.86,7.40,0.46,auralin,36,46,armina sauvé,NaN

In [77]:
treat2_advers.drop(columns='fullname',inplace=True)
treat2_advers.head(2)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41,48,NaN
1,elliot,richardson,7.56,7.09,0.47,novodra,40,45,hypoglycemia

In [78]:
treatment.given_name = treatment.given_name.str.capitalize()
treatment.surname = treatment.surname.str.capitalize()
treatment.head(4)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
0,Veronika,Jindrová,41u - 48u,-,7.63,7.20,0.43,auralin,41,48,veronika jindrová,NaN,NaN,NaN
1,Elliot,Richardson,-,40u - 45u,7.56,7.09,0.47,novodra,40,45,elliot richardson,elliot,richardson,hypoglycemia
2,Yukitaka,Takenaka,-,39u - 36u,7.68,7.25,0.43,novodra,39,36,yukitaka takenaka,NaN,NaN,NaN
3,Skye,Gormanston,33u - 36u,-,7.97,7.62,0.35,auralin,33,36,skye gormanston,NaN,NaN,NaN

##### Test

In [79]:
treatment.sample(10)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,fullname,given_name_y,surname_y,adverse_reaction
184,Chân,Bùi,31u - 42u,-,7.53,7.18,0.35,auralin,31,42,chân bùi,NaN,NaN,NaN
205,Najla,Touma,-,39u - 44u,7.66,7.31,0.35,novodra,39,44,najla touma,NaN,NaN,NaN
133,Vasco,Van de wiel,-,31u - 29u,7.94,7.51,0.43,novodra,31,29,vasco van de wiel,NaN,NaN,NaN
157,Asuna,Morita,-,35u - 39u,7.58,7.25,0.33,novodra,35,39,asuna morita,NaN,NaN,NaN
174,Mustafa,Adonay,58u - 69u,-,7.79,7.34,0.45,auralin,58,69,mustafa adonay,NaN,NaN,NaN
339,Robert,Maslov,55u - 68u,-,7.65,7.35,0.30,auralin,55,68,robert maslov,NaN,NaN,NaN
311,Galit,Casárez,27u - 37u,-,7.91,7.56,0.35,auralin,27,37,galit casárez,NaN,NaN,NaN
171,Justyna,Kowalczyk,24u - 34u,-,9.84,9.44,0.40,auralin,24,34,justyna kowalczyk,NaN,NaN,NaN
276,John,Teichelmann,-,49u - 49u,7.90,7.58,0.32,novodra,49,49,john teichelmann,NaN,NaN,NaN
21,Tekla,Walczak,29u - 39u,-,7.61,7.29,0.32,auralin,29,39,tekla walczak,NaN,NaN,NaN

### Quality

<font color='red'>Complete the remaining "Quality" **Define, Code, and Test** sequences after watching the *"Cleaning for Quality"* video.</font>

#### Zip code is a float not a string and Zip code has four digits sometimes

##### Define
Patients dataset contains column for zip code. The zip code column data type is float. It should be "object", text. Some zips are only 4 numbers as well. Change datatype and pad four digit zip codes with a leading 0.

##### Code

In [80]:
patients_clean.head(2)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,7/10/1976,121.7,66,19.6,ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204

In [81]:
patients_clean.zip_code = patients_clean.zip_code.astype(str).str[:-2].str.pad(5,fillchar='0')

In [82]:
patients_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    491 non-null    int64
 1   assigned_sex  491 non-null    object
 2   given_name    491 non-null    object
 3   surname       491 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    object
 8   country       491 non-null    object
 9   birthdate     491 non-null    object
 10  weight        491 non-null    float64
 11  height        491 non-null    int64
 12  bmi           491 non-null    float64
 13  email         491 non-null    object
 14  phone         491 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 81.4+ KB

In [83]:
patients_clean.tail(10)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702,United States,3/18/1997,195.1,68,29.7,FenChin@gustr.com,1 (208) 388-1065
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066,United States,1/16/1942,126.3,67,19.8,SirkkaPiirainen@teleworm.us,1 (586) 790-0975
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403,United States,9/5/1972,168.1,66,27.1,HajimeTsukada@dayrep.com,650-570-4896
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204,United States,9/12/1942,194.0,72,26.3,AlexanderHueber@jourrapide.com,1 209 762 2320
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116,United States,8/19/1937,155.1,72,21.0,MasatakaMurakami@einrot.com,1 (918) 984-9171
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,03852,United States,4/10/1959,181.1,72,24.6,MustafaLindstrom@jourrapide.com,207-477-0579
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341,United States,3/26/1948,239.6,70,34.4,RumanBisliev@gustr.com,928-284-4492
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110,United States,1/13/1971,171.2,67,26.8,JinkedeKeizer@teleworm.us,816-223-6007
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109,United States,2/13/1952,176.9,67,27.7,ChidaluOnyekaozulu@jourrapide.com,1 360 443 2060
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324,United States,5/3/1954,138.2,71,19.3,PatrickGersten@rhyta.com,402-848-4923

In [84]:
patients_clean.loc[502,'zip_code'] = '68324'

##### Test

In [85]:
patients_clean.zip_code.sample(10)

102    36104
25     87109
423    80904
490    10801
81     73844
357    43311
302    39401
364    91403
240    35806
352    31401
Name: zip_code, dtype: object

#### Tim Neudorf height is 27 in instead of 72 in

##### Define
Patients height is not likely. Invert height.

##### Code

In [86]:
patients_clean[patients_clean.surname == 'Neudorf']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303,United States,2/18/1928,192.3,27,26.1,TimNeudorf@cuvox.de,334-515-7487

In [87]:
patients_clean.loc[4,'height'] = 72

##### Test

In [88]:
patients_clean[patients_clean.surname == 'Neudorf']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303,United States,2/18/1928,192.3,72,26.1,TimNeudorf@cuvox.de,334-515-7487

#### Full state names sometimes, abbreviations other times

##### Define
Make state names consistent.

##### Code

In [89]:
# see how many states don't use 2 letter abbreviations
patients_clean.query('state.str.len() > 2').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    92 non-null     int64
 1   assigned_sex  92 non-null     object
 2   given_name    92 non-null     object
 3   surname       92 non-null     object
 4   address       92 non-null     object
 5   city          92 non-null     object
 6   state         92 non-null     object
 7   zip_code      92 non-null     object
 8   country       92 non-null     object
 9   birthdate     92 non-null     object
 10  weight        92 non-null     float64
 11  height        92 non-null     int64
 12  bmi           92 non-null     float64
 13  email         92 non-null     object
 14  phone         92 non-null     object
dtypes: float64(2), int64(2), object(11)
memory usage: 11.5+ KB

In [90]:
states_ser = patients_clean.loc[:,'state']
states_ser

0      California
1        Illinois
2        Nebraska
3              NJ
4              AL
          ...
498            ME
499            AZ
500            MO
501            WA
502      Nebraska
Name: state, Length: 491, dtype: object

In [91]:
states_ser[states_ser.str.len() > 2].drop_duplicates()

0    California
1      Illinois
2      Nebraska
5       Florida
9      New York
Name: state, dtype: object

In [92]:
def replace_name(state_name):
    state_abbv = dict({'California':'CA','Illinois':'IL','Nebraska':'NE','Florida':'FL','New York':'NY'})
    if state_name in state_abbv:
        return state_abbv[state_name]
    else:
        return state_name

In [93]:
patients2 = patients_clean.copy()

In [94]:
patients2.head(2)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390,United States,7/10/1976,121.7,66,19.6,ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812,United States,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204

In [95]:
patients2['state'] = patients2.apply(lambda row: replace_name(row['state']),axis=1)
states_ser = patients2.loc[:,'state']
states_ser[states_ser.str.len() > 2].drop_duplicates()

Series([], Name: state, dtype: object)

##### Test

In [96]:
patients2.sample(20)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
343,344,female,Emy,Markus,288 Colony Street,Stamford,CT,06901,United States,1/30/1999,140.6,65,23.4,EmyMarkus@armyspy.com,203-251-3573
446,447,male,Eemil,Laine,2531 Eastland Avenue,Mclain,MS,39456,United States,3/22/1929,167.2,72,22.7,EemilLaine@einrot.com,601-418-0102
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962,United States,10/23/1960,206.1,64,35.4,SandraCTaylor@dayrep.com,304-438-2648
33,34,male,Habte,Kifle,2055 Emeral Dreams Drive,Dekalb,IL,60115,United States,1/20/1946,153.8,72,20.9,HabteKifle@fleckens.hu,815-270-7770
373,374,female,Johana,Hrdá,541 Green Hill Road,Springdale,AR,72762,United States,8/4/1952,216.9,66,35.0,JohanaHrda@dayrep.com,479-248-5663
266,267,female,Johanna,Dreher,3857 Straford Park,Whitesburg,KY,41858,United States,10/6/1948,187.0,61,35.3,JohannaDreher@superrito.com,1 606 632 4327
370,371,male,Olof,Holm,288 Smith Street,Taunton,MA,02780,United States,4/7/1999,214.1,70,30.7,OlofHolm@gustr.com,508-821-2421
69,70,male,Joseph,Day,1821 Virginia Street,Lombard,IL,60148,United States,2/23/1986,150.6,68,22.9,JosephMDay@teleworm.us,1 (773) 615-9328
356,357,female,Sinead,Reilly,3893 Eva Pearl Street,Maurepas,LA,70449,United States,4/5/1923,148.3,64,25.5,SineadReilly@cuvox.de,1 (225) 695-5230
184,185,female,Ásta,Grímsdóttir,1619 Melm Street,Ormond Beach,FL,32174,United States,6/9/1999,128.9,65,21.4,AstaGrimsdottir@dayrep.com,1 (386) 989-0019
136,137,female,Victoria,Mikkelsen,2121 Liberty Avenue,Los Angeles,CA,90017,United States,5/7/1925,179.3,63,31.8,VictoriaTMikkelsen@armyspy.com,714-507-4204
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,FL,32114,United States,8/31/1931,183.9,70,26.4,RafaelCardosoCosta@gustr.com,386-334-5237
181,182,female,Yumena,Nakayama,4458 Stark Hollow Road,Gypsum,CO,81637,United States,3/24/1929,130.2,59,26.3,YumenaNakayama@gustr.com,1 970 754 5843
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,CA,94549,United States,12/1/1988,187.2,63,33.2,JasmineSykes@jourrapide.com,925-283-5425
426,427,male,Rogelio,Taylor,4064 Marigold Lane,Miami,FL,33179,United States,9/2/1992,186.6,69,27.6,RogelioJTaylor@teleworm.us,305-434-6299
281,282,male,Kristján,Ingason,677 Broad Street,Birmingham,AL,35203,United States,12/1/1986,214.1,69,31.6,KristjanIngason@gustr.com,205-494-6040
51,52,female,Noe,Aranda,3977 Jail Drive,Davenport,IL,52801,United States,8/7/1938,107.1,63,19.0,NoeArandaGranado@dayrep.com,1 309 912 9553
327,328,male,Torfi,Írisarson,1463 Beechwood Avenue,Belleville,NJ,07109,United States,10/3/1977,214.7,68,32.6,TorfiIrisarson@jourrapide.com,908-871-7009
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,CA,91505,United States,5/23/1970,184.6,70,26.5,TarPoldi@superrito.com,714-496-2264
411,412,female,Štefanija,Novosel,1810 Hardesty Street,Albany,NY,12207,United States,11/29/1945,154.9,61,29.3,StefanijaNovosel@teleworm.us,1 518 487 4865

#### Dsvid Gustafsson

##### Define
Name misspelled. Correct spelling error.

##### Code

In [97]:
patients2[patients2.loc[:,'surname'] == 'Gustafsson']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,3/6/1937,163.9,66,26.5,DavidGustafsson@armyspy.com,816-265-9578

In [98]:
patients2.loc[8,'given_name'] = 'David'

##### Test

In [99]:
patients2.iloc[6:10,:]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728,United States,11/19/1969,146.3,65,24.3,MaryBAdams@einrot.com,775-533-5933
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037,United States,8/13/1958,158.0,60,30.9,XiuxiuChang@einrot.com,1 408 778 3236
8,9,male,David,Gustafsson,1790 Nutter Street,Kansas City,MO,64105,United States,3/6/1937,163.9,66,26.5,DavidGustafsson@armyspy.com,816-265-9578
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,NY,10011,United States,12/3/1930,194.7,64,33.4,SophieCabreraIbarra@teleworm.us,1 718 795 9124

#### Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns) and Erroneous datatypes (auralin and novodra columns) and The letter 'u' in starting and ending doses for Auralin and Novodra

##### Define
Fix datatype for birthday column. Change birthdate to datatype: datetime.

##### Code

In [100]:
patients2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    491 non-null    int64
 1   assigned_sex  491 non-null    object
 2   given_name    491 non-null    object
 3   surname       491 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    object
 8   country       491 non-null    object
 9   birthdate     491 non-null    object
 10  weight        491 non-null    float64
 11  height        491 non-null    int64
 12  bmi           491 non-null    float64
 13  email         491 non-null    object
 14  phone         491 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 81.4+ KB

In [101]:
patients2.head(3)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,CA,92390,United States,7/10/1976,121.7,66,19.6,ZoeWellish@superrito.com,951-719-9170
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,IL,61812,United States,4/3/1967,118.8,66,19.2,PamelaSHill@cuvox.de,1 (217) 569-3204
2,3,male,Jae,Debord,1493 Poling Farm Road,York,NE,68467,United States,2/19/1980,177.8,71,24.8,JaeMDebord@gustr.com,402-363-6804

In [102]:
patients2['birthdate'] = pd.to_datetime(patients2['birthdate'])
patients2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 491 entries, 0 to 502
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    491 non-null    int64
 1   assigned_sex  491 non-null    object
 2   given_name    491 non-null    object
 3   surname       491 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    object
 8   country       491 non-null    object
 9   birthdate     491 non-null    datetime64[ns]
 10  weight        491 non-null    float64
 11  height        491 non-null    int64
 12  bmi           491 non-null    float64
 13  email         491 non-null    object
 14  phone         491 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 81.4+ KB

##### Test

In [112]:
patients2.sample(20)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
436,437,male,Sun,Ko,1962 Cabell Avenue,Washington,VA,20008,United States,1969-07-08,154.4,72,20.9,SunKo@einrot.com,703-547-0551
169,170,male,Markus,Solberg,4148 Callison Lane,Bensalem,DE,19020,United States,1953-11-21,140.6,70,20.2,MarkusSolberg@fleckens.hu,302-474-8075
126,127,male,Mads,Nielsen,1493 Randolph Street,Boston,MA,02210,United States,1942-05-19,137.1,68,20.8,MadsANielsen@jourrapide.com,508-739-5632
131,132,female,Sandra,Taylor,2476 Fulton Street,Rainelle,WV,25962,United States,1960-10-23,206.1,64,35.4,SandraCTaylor@dayrep.com,304-438-2648
395,396,male,Krisztián,Bakos,2316 Ingram Road,Yadkinville,NC,27055,United States,1975-03-28,231.9,74,29.8,BakosKrisztian@teleworm.us,336-677-8769
301,302,female,Onyekachukwu,Obinna,2970 Forest Avenue,New York,NY,10004,United States,1997-01-24,154.7,65,25.7,OnyekachukwuObinna@teleworm.us,646-982-6609
446,447,male,Eemil,Laine,2531 Eastland Avenue,Mclain,MS,39456,United States,1929-03-22,167.2,72,22.7,EemilLaine@einrot.com,601-418-0102
422,423,female,Jázmin,Györfy,1049 Park Boulevard,Haverhill,IA,50120,United States,1958-09-21,129.4,64,22.2,GyorfyJazmin@jourrapide.com,641-475-9654
319,320,female,Wilma,Olofsson,2235 Catherine Drive,Fargo,ND,58102,United States,1985-11-17,154.9,69,22.9,WilmaOlofsson@teleworm.us,701-235-3404
228,229,female,Cintia,Csorba,2126 Pearl Street,Sacramento,CA,95826,United States,1991-07-20,186.6,62,34.1,CsorbaCintia@fleckens.hu,916-379-7480
134,135,male,Jesse,Luoma,3714 Ben Street,Albany,NY,12207,United States,1922-06-01,154.9,66,25.0,JesseLuoma@fleckens.hu,1 (518) 212-7081
32,33,female,Một,Phạm,2690 Pin Oak Drive,Long Beach,CA,90815,United States,1997-01-30,147.6,69,21.8,PhamThiBichMot@dayrep.com,562-985-4582
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,NY,12771,United States,1985-08-01,155.8,67,24.4,JakobCJakobsen@einrot.com,1 (845) 858-7707
34,35,female,Mariana,Souza,577 Chipmunk Lane,Orrington,ME,04474,United States,1948-03-06,152.9,63,27.1,MarianaGomesSouza@superrito.com,207-825-8634
274,275,female,Nora,Nyborg,2852 Irving Road,Westerville,OH,43081,United States,1958-02-10,202.6,68,30.8,NoraNyborg@einrot.com,740-552-2444
266,267,female,Johanna,Dreher,3857 Straford Park,Whitesburg,KY,41858,United States,1948-10-06,187.0,61,35.3,JohannaDreher@superrito.com,1 606 632 4327
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548,United States,1973-02-15,255.9,74,32.9,TrifonIzmailov@fleckens.hu,1 850 659 0417
428,429,male,Marko,Kos,1128 Jacobs Street,Pittsburgh,PA,15212,United States,1982-10-21,227.7,69,33.6,MarkoKos@einrot.com,412-319-0903
423,424,female,Simone,Baumgaertner,510 Berry Street,Colorado Springs,CO,80904,United States,1931-05-14,125.2,59,25.3,SimoneBaumgaertner@teleworm.us,719-661-6624
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118,United States,1987-08-14,123.9,61,23.4,AngelGrant@fleckens.hu,731-577-0292

#### Multiple phone number formats

##### Define
Make phone numbers consistent. Either remove parantheses for area code or use paratheses on all. All phone numbers are US based (see 2 cells below). Therefore, remove country code and format number as so: (366) 677-9532

In [129]:
# Are all phone numbers in the US?

patients2.groupby('country')['state'].value_counts()

country        state
United States  CA       60
               NY       47
               TX       32
               IL       24
               FL       22
               MA       22
               PA       18
               GA       15
               OH       14
               LA       13
               MI       13
               OK       13
               NJ       12
               VA       11
               MS       10
               WI       10
               AL        9
               IN        9
               MN        9
               TN        9
               KY        8
               NC        8
               WA        8
               MO        7
               ID        6
               KS        6
               NE        6
               NV        6
               CT        5
               IA        5
               SC        5
               AR        4
               AZ        4
               CO        4
               ME        4
               ND        4
               RI        4
               DE        3
               MD        3
               OR        3
               SD        3
               WV        3
               DC        2
               MT        2
               VT        2
               AK        1
               NH        1
               NM        1
               WY        1
Name: state, dtype: int64

##### Code

In [128]:
#Revise function from extraction of contact info. Utilize regex 'groups' to format phone appropriately

def format_phone(row):
    ph_re = re.compile(r'1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})(\se?x?t?(\d*))?')
    found = ph_re.search(row)
    if found:
        #print(f"area code: {found[1]}")
        #print(f"prefix: {found[2]}")
        #print(f"suffix: {found[3]}")
        area_code = found[1]
        pre = found[2]
        suf = found[3]
        return("(" + area_code + ") " + pre + "-" + suf)
    else:
        return ''

In [122]:
ph1 = '304-438-2648'
ph2 = '(232)-343-2321'

In [127]:
format_phone(ph2)

'(232)343-2321'

In [131]:
patients2['phone'] = patients2.apply(lambda row: format_phone(row['phone']), axis=1)

##### Test

In [132]:
patients2.sample(20)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027,United States,1954-02-03,238.7,73,31.5,Abdul-NurMummarIsa@rhyta.com,(931) 207-0839
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401,United States,1945-03-03,220.0,65,36.6,DiogoBarrosSouza@jourrapide.com,(361) 693-4960
502,503,male,Pat,Gersten,2778 North Avenue,Burr,NE,68324,United States,1954-05-03,138.2,71,19.3,PatrickGersten@rhyta.com,(402) 848-4923
72,73,male,Søren,Frederiksen,4852 Rose Avenue,Metairie,LA,70001,United States,1931-02-12,214.5,65,35.7,SrenFrederiksen@armyspy.com,(504) 289-1386
61,62,male,Alan,Milne,707 Gateway Avenue,Bakersfield,CA,93301,United States,1962-04-29,244.9,69,36.2,AlanMilne@dayrep.com,(661) 779-6795
456,457,male,Zikoranaudodimma,Chinedum,3402 Kildeer Drive,Newport News,VA,23602,United States,1935-12-25,150.5,67,23.6,ZikoranaudodimmaChinedum@cuvox.de,(757) 269-6500
394,395,female,Anja,Mueller,570 Alpha Avenue,Tyler,TX,75757,United States,1942-08-06,182.2,61,34.4,AnjaMueller@gustr.com,(903) 939-1025
276,277,male,Alex,Crawford,373 Fantages Way,Hope,ID,83836,United States,1924-07-07,223.1,70,32.0,AlexCrawford@dayrep.com,(208) 264-9063
376,377,female,Ivona,Jakšić,1051 Bassell Avenue,Wichita,AR,67202,United States,1935-09-05,200.8,62,36.7,IvonaJaksic@einrot.com,(501) 636-4058
83,84,male,Chen,Yao,2566 Ingram Street,Dayton,OH,45407,United States,1975-11-08,214.7,76,26.1,ChenYao@teleworm.us,(937) 523-1224
221,222,male,Csaba,Sági,4040 Linda Street,Portland,PA,97205,United States,1943-01-12,181.3,70,26.0,SagiCsaba@armyspy.com,(267) 932-9852
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,CA,94549,United States,1988-12-01,187.2,63,33.2,JasmineSykes@jourrapide.com,(925) 283-5425
66,67,male,Konstantyn,Kowalczyk,4707 Parkway Street,San Diego,CA,92103,United States,1938-03-02,194.3,67,30.4,KonstantynKowalczyk@armyspy.com,(760) 287-8295
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,02127,United States,1998-07-18,175.3,65,29.2,KateWilkinson@armyspy.com,(508) 905-2371
350,351,male,Diệt,Bùi,3788 Worthington Drive,Rylie,TX,75235,United States,1936-04-18,119.0,65,19.8,BuiKimDiet@rhyta.com,(972) 557-0198
361,362,male,Hans Peter,Radislav,208 Birch Street,El Paso,TX,79905,United States,1973-10-28,169.0,70,24.2,HansPeterRadislav@gustr.com,(915) 612-1462
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,NY,12771,United States,1985-08-01,155.8,67,24.4,JakobCJakobsen@einrot.com,(845) 858-7707
43,44,female,Zizi,Schmitt,669 Archwood Avenue,Mountain View,WY,82939,United States,1968-02-09,198.9,67,31.1,SchmittZizi@fleckens.hu,(307) 712-0508
150,151,male,Felicijan,Bubanj,4556 Oakdale Avenue,Dundee,FL,33838,United States,1957-05-22,226.6,71,31.6,FelicijanBubanj@einrot.com,(863) 438-6922
184,185,female,Ásta,Grímsdóttir,1619 Melm Street,Ormond Beach,FL,32174,United States,1999-06-09,128.9,65,21.4,AstaGrimsdottir@dayrep.com,(386) 989-0019

In [105]:
# Your testing code here

#### Default John Doe data

##### Define
Remove all entries named "John Doe".

##### Code

In [135]:
patients3 = patients2.copy()

In [134]:
does = patients2.query("surname == 'Doe'").index
does

Int64Index([215, 229, 237, 244, 251, 277], dtype='int64')

In [139]:
patients2.drop(does, inplace=True)

##### Test

In [140]:
patients2.query("surname == 'Doe'").index

Int64Index([], dtype='int64')

#### Multiple records for Jakobsen, Gersten, Taylor

##### Define
Remove multiple records for Jakobsen, Gersten, & Taylor. Only one record should be present per patient

##### Code

In [153]:
patients2.drop(29, inplace=True)

In [156]:
patients2.drop(97, inplace=True)

In [159]:
patients2.drop(131, inplace=True)

##### Test

In [154]:
patients2[patients2['surname'] == 'Jakobsen']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,NY,12771,United States,1985-08-01,155.8,67,24.4,JakobCJakobsen@einrot.com,(845) 858-7707
432,433,female,Karen,Jakobsen,1690 Fannie Street,Houston,TX,77020,United States,1962-11-25,185.2,67,29.0,KarenJakobsen@jourrapide.com,(979) 203-0438

In [157]:
patients2[patients2['surname'] == 'Gersten']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
502,503,male,Pat,Gersten,2778 North Avenue,Burr,NE,68324,United States,1954-05-03,138.2,71,19.3,PatrickGersten@rhyta.com,(402) 848-4923

In [160]:
patients2[patients2['surname'] == 'Taylor']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962,United States,1960-10-23,206.1,64,35.4,SandraCTaylor@dayrep.com,(304) 438-2648
426,427,male,Rogelio,Taylor,4064 Marigold Lane,Miami,FL,33179,United States,1992-09-02,186.6,69,27.6,RogelioJTaylor@teleworm.us,(305) 434-6299

#### kgs instead of lbs for Zaitseva weight

##### Define
Convert Zaitseva weight to lbs and change weight cell

##### Code

In [162]:
patients2[patients2['surname'] == 'Zaitseva']

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,birthdate,weight,height,bmi,email,phone
210,211,female,Camilla,Zaitseva,4689 Briarhill Lane,Wooster,OH,44691,United States,1938-11-26,48.8,63,19.1,CamillaZaitseva@superrito.com,(330) 202-2145

In [163]:
patients.loc[210,:]

patient_id                                            211
assigned_sex                                       female
given_name                                        Camilla
surname                                          Zaitseva
address                               4689 Briarhill Lane
city                                              Wooster
state                                                  OH
zip_code                                            44691
country                                     United States
contact         330-202-2145CamillaZaitseva@superrito.com
birthdate                                      11/26/1938
weight                                               48.8
height                                                 63
bmi                                                  19.1
Name: 210, dtype: object

In [165]:
patients.loc[210,'weight'] = 107.59

##### Test

In [166]:
patients.loc[210,'weight'] == 107.59

True